body {
    background-color: #f2f2f4;
    color: #111010;
    font-family: "Geist", sans-serif;
    align-items: center;
    z-index: 100;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    box-sizing: border-box;
    position: static;
}

header {
    background-color: #f2f2f4;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px 40px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 32px;
    align-items: center;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    margin-bottom: auto;
    backdrop-filter: blur(10px);
    
}

.navigation a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #111010;
    margin-left: 20px;
    font-weight: 400;
    justify-content: space-between;
   
}
.header a {
    text-decoration: none;
    color: #111010;
}

.highlight {
    border-radius: 20px;
    border:#298d44 solid 2px;
    padding: 10px;
}


.introtext {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}

.introtext h1 {
    font-size: 64px;
    text-align: center;
}

.introtext p {
    text-align: center;
   
}

.intro {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.button {
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #111010;
    border: white solid;
    color: white;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    transition: ease-in-out 0.3ms;
}

.button:hover {
    background-color: #53c070;
    color: black;
    border: none;
    transition: ease-in-out 0.3ms;
}

.button:hover a {
    color: black;
}

.intro a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.work {
    text-decoration: none;
}

