body {
    background-color: #f2f2f4;
    color: #111010;
    font-family: "Geist", sans-serif;
    align-items: center;
    z-index: 100;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    box-sizing: border-box;
    position: static;
}

header {
    background-color: #f2f2f4;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px 40px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    align-items: center;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    margin-bottom: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px 0px #60606045;
    
}

.navigation a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #111010;
    margin-left: 20px;
    font-weight: 400;
    justify-content: space-between;
   
}

.navigation a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #298d44;
    transition: .3s;

}

.navigation a:hover::before {
    width: 75%;
}

.header a {
    text-decoration: none;
    color: #111010;
}

.header p {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #111010;
    justify-content: space-between;
    padding-right: 20px;
}

.introtext {
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}

.introtext h1 {
    font-size: 64px;
    text-align: center;
}

.introtext p {
    text-align: center;
   
}

.intro {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.button a{
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #111010;
    border: white solid;
    color: white;
    text-align: center;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    transition: ease-in-out 0.3ms;
}

.button:hover a{
    background-color: #298d44;
    color: black;
    transition: ease-in-out 0.3ms;
}

.button:hover a {
    color: black;
}

.intro a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.work {
    text-decoration: none;
}



@media (max-width: 480px) {
    body {
        padding: 0;
    }

    .introtext h1 {
    font-size: 36px;
    text-align: center;
}

.introtext p {
    text-align: center;
   
}

.intro {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
    
    .introtext h1 {
    font-size: 48px;
    text-align: center;
}

.introtext p {
    text-align: center;
   
}

.intro {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
}