body {
    background-color: #f2f2f4;
    color: #111010;
    font-family: "Geist", sans-serif;
    align-items: center;
    z-index: 100;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    box-sizing: border-box;
    position: static;
    grid-template-columns: auto auto auto;
}

header {
    background-color: #f2f2f4;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px 40px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    align-items: center;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    margin-bottom: auto;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px 0px #60606045;
    
}

.navigation a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #111010;
    margin-left: 20px;
    font-weight: 400;
    justify-content: space-between;
   
}

.navigation a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #298d44;
    transition: .3s;

}

.navigation a:hover::before {
    width: 75%;
}
.header a {
    text-decoration: none;
    color: #111010;
}

.header p {
    font-weight: 800;
}

.posts {
   margin-top: 100px;
   margin-bottom: 100px;
   
}



.posts a:hover {
    color: #0b862c;
    font-weight: 600;
}

.posts a {
    text-decoration: none;
    color: #111010;
    margin-bottom: 10px;
}




img {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: fit-content;
    height: fit-content;
}
.text {
    margin-top: 100px;
    margin-bottom: 100px;
}

#indicator {
       text-decoration: underline;
          text-decoration-color: #298d44; 
          text-decoration-thickness: 2px; 
          text-decoration-style: solid; 
            text-underline-offset: 4px;
    }

.guide a {
    text-decoration: underline;
    text-decoration-color: #111010;
    color: #111010;
}

.guide a:hover {
    color: #0b862c;
    text-decoration-color: #0b862c;
    margin-bottom: 100px;
}

@media (max-width: 480px) {
    body {
        padding: 0;
    }

    .posts {
        margin-top: 120px;
    }

    .postlink {
        display: grid;
    }

    .guide {
        margin-bottom: 120px;
    }

    img {
        object-fit: contain;
        width: 100%;
    }

    .text {
        margin-top: 120px;
    }

}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .postlink {
        display: grid;
    }
    img {
        object-fit: contain;
        width: 100%;
    }

    .text {
        margin-top: 120px;
    }

}