body {
    background-color: white;
    font-family: "Geist", sans-serif;
    color: black;
    
    justify-content: center;
    position: static;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
}

button {
    font-family: "Geist", sans-serif;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}